body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Passero One', cursive;
  background-color: #f7f7f7;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.432); /* white with 80% opacity */
  border-radius: 10px; /* rounded corners */
  padding: 20px; /* some space inside the container */
  width: 15%; /* take up 80% of its parent's width */
  margin: 0 auto; /* center the container */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* optional: a small shadow for depth */
}


#selectionRow {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  
}

#selectionRow select {
  padding: 10px;
  font-size: 1em;
  border: 2px solid #d4d4d4;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100px; /* This is the static width */
  min-width: 150px; /* Adding a minimum width as well */
}


#nowPlaying {
  display: flex;
  flex-direction: column; /* changes the layout to a vertical stack */
  justify-content: center;
  align-items: center; /* centers the content horizontally */
  width: 100%;
  text-align: center; /* centers the text */
}


#controlsRow {
  display: flex;
  justify-content: center;
  gap: 15px; /* adjust this value if needed */
  margin: 15px 0; /* adjust this value if needed */
}

#controlsRow button {
  padding: 15px;
  border: none;
  border-radius: 50%;
  color: white; /* Text color */
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #000000c2; /* Medium gray */
}

#controlsRow button:hover {
  background-color: #5a6268; /* Darker gray for hover */
}


#progressBarContainer {
  width: 100%;
  margin-bottom: 15px; /* adjust this value if needed */
}

#volumeControl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#likeButton.liked {
  color: red;
}



